@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('TrueType');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf') format('TrueType');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('TrueType');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf') format('TrueType');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('TrueType');
	font-style: normal;
	font-weight: 800;
}