@media screen and (max-width: 1800px){
	.navigation_link {
		margin-right: 360px;
	}
}
@media screen and (max-width: 1600px){
	.navigation_link {
		margin-right: 290px;
	}
}
@media screen and (max-width: 1440px){
	.navigation_link {
		margin-right: 200px;
	}
}
@media screen and (max-width: 1366px){
	.navigation_link {
		margin-right: 100px;
	}
}