@media screen and (max-width: 1800px) {
	.navigation_link {
		margin-right: 360px;
	}
	.about_inform {
		padding: 0 370px;
	}
	.about_us__numbers {
		padding: 0 450px;
	}
	.all_service_title {
		padding: 100px 350px 0 350px;
	}
}
@media screen and (max-width: 1707px) {
	.services_basic {
		padding: 0 350px;
	}
	.about_inform {
		padding: 0 350px;
	}
	.about_us__numbers {
		padding: 0 400px;
	}
	.all_service_title {
		padding: 100px 300px 0 300px;
	}
}
@media screen and (max-width: 1600px) {
	.navigation_link {
		margin-right: 290px;
	}
	.services_basic {
		padding: 0 290px;
	}
	.about_inform {
		padding: 0 290px;
	}
	.about_us__numbers {
		padding: 0 320px;
	}
	.all_service_title {
		padding: 100px 250px 0 250px;
	}
}
@media screen and (max-width: 1440px) {
	.navigation_link {
		margin-right: 200px;
	}
	.services_basic {
		padding: 0 210px;
	}
	.about_inform {
		padding: 0 210px;
	}
	.about_us__numbers {
		padding: 0 280px;
	}
	.all_service_title {
		padding: 100px 170px 0 170px;
	}
}
@media screen and (max-width: 1366px) {
	.navigation_link {
		margin-right: 100px;
	}
	.services_basic {
		padding: 0 190px;
	}
	.about_inform {
		padding: 0 160px;
	}
	.about_us__numbers {
		padding: 0 210px;
	}
	.all_service_title {
		padding: 100px 130px 0 130px;
	}
}
@media screen and (max-width: 1280px) {
	.all_service_title {
		padding: 100px 90px 0 90px;
	}
}

