*, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button {
	user-select: none;
}

.header_nav {
	width: 100%;
	height: 900px;
	background-image: url('../img/main_background.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.navigation {
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px solid rgba(161, 161, 161, 0.5);
	margin-bottom: 220px;
}
.navigation_link {
	display: flex;
	gap: 40px;
	margin-right: 405px;
}
.navigation_link a {
	position: relative;
	text-decoration: none;
	color: #FFF;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.navigation_link a:hover::after {
	position: absolute;
	content: " ";
	display: block;
	width: 100%;
	height: 2px;
	background: #FFF;
	margin-top: 38px;
}
.name_info {
	color: #FFF;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 20px;
}
.title {
	width: 830px;
	margin: 0 auto 50px auto;
	color: #FFF;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 48px;
	font-style: normal;
	font-weight: 800;
	line-height: 134%; /* 64.363px */
}
.button {
	text-align: center;
}
.btn {
	cursor: pointer;
	width: 200px;
	height: 45px;
	background-color: #4985FF;
	border: none;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
	font-family: 'Montserrat';
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.services {
	width: 100%;
	height: 700px;
	padding-top: 110px;
}
.services_basic {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 650px;
	padding: 0 405px;
}
.services_title {
	width: 740px;
	color: #323232;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 146.28%; /* 52.661px */
	margin-bottom: 50px;
}
.services_desc {
	width: 730px;
	color: #999;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 158.47%; /* 25.355px */
	margin-bottom: 70px;
}
.offer {
	display: flex;
	gap: 30px;
	margin-bottom: 50px;
}
.offer_service {
	display: flex;
}
.offer_service-info {
	padding-top: 46px;
}
.offer_service-info h4 {
	color: #000;
	font-family: 'Montserrat';
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.offer_service-info p {
	color: #999;
	font-family: 'Montserrat';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 158.47%; /* 22.186px */
}
.quote_1 {
	width: 110px;
	height: 110px;
	padding: 8px;
	border: 2px solid #E0E0E0;
	border-radius: 50%;
	margin-right: 18px;
}
.quote_1:hover {
	border: 2px solid #4985FF;
}
.quote_2 {
	width: 90px;
	height: 90px;
	padding: 25px;
	border: 2px solid #4985FF;
	border-radius: 50%;
}
.quote_2 img {
	width: 40px;
	height: 40px;
}

.about_as {
	width: 100%;
	height: 790px;
	background: #F6F6F8;
	padding-top: 100px;
}
.about_inform {
	display: flex;
	padding: 0 405px;
}
.inform {
	width: 50%;
	padding-top: 50px;
}
.inform h4 {
	width: 424px;
	height: 88px;
	color: #323232;
	font-family: 'Montserrat';
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 146.28%; /* 52.661px */
	margin-bottom: 40px;
}
.inform p {
	width: 490px;
	color: #999;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 158.47%; /* 25.355px */
	margin-bottom: 30px;
}
.inform a {
	color: #4985FF;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
}
.inform_image {
	width: 50%;
	padding-left: 55px;
	margin-bottom: 90px;
}
.inform_image img {
	width: 500px;
	height: 400px;
	text-align: right;
}
.dividing_line {
	display: block;
	width: 1110px;
	height: 1px;
	background: #E0E0E0;
	margin: 0px auto 70px auto;
}
.about_us__numbers {
	display: flex;
	justify-content: space-between;
	padding: 0 500px;
}
.numbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100px;
}
.numbers img {
	width: 30px;
	height: 30px;
	margin-top: 10px
}
.numbers h3 {
	color: #000;
	font-family: 'Montserrat';
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 146.28%; /* 52.661px */
}
.numbers p {
	color: #999;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 158.47%; /* 25.355px */
}

.all_our_services {
	width: 100%;
	min-height: 890px;
	position: relative;
}
.all_service {
	width: 100%;
	height: 490px;
	background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}
.all_service_title {
	display: flex;
	padding: 100px 405px 0 405px;
	justify-content: space-between;
}
.all_service_title h3 {
	width: 540px;
	color: #FFF;
	font-family: 'Montserrat';
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 146.28%; /* 52.661px */
}
.btn_all_services {
	text-align: left;
	padding-top: 30px;
}
.service_preview {
	width: 100%;
	height: 480px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preview {
	display: flex;
	position: absolute;
	top: 260px;
	width: 1110px;
	height: 645px;
	border-bottom: 2px solid #E0E0E0;
	justify-content: space-between;
}
.preview_item {
	width: 350px;
	margin-bottom: 80px;
}
.preview_item img {
	margin-bottom: 30px;
}
.preview_item h5 {
	display: flex;
	color: #000;
	font-family: 'Montserrat';
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 30px;
}
.preview_item h5 > p {
	color: #4985FF;
	font-family: 'Montserrat';
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-right: 10px;
}
.preview_item > p {
	color: #999;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 158.47%; /* 25.355px */
	margin-bottom: 30px;
}
.preview_item a {
	color: #4985FF;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.all_project {
	width: 100%;
	height: 780px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #F6F6F8;
}
.all_project h2 {
	color: #000;
	font-family: 'Montserrat';
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 146.28%; /* 52.661px */
	margin-bottom: 50px;
}
.all_project p {
	width: 730px;
	color: #999;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 158.47%; /* 25.355px */
	margin-bottom: 70px;
}
.project_image {
	display: flex;
	justify-content: space-between;
	width: 1110px;
	margin-bottom: 50px;
}
.project_image img {
	width: 255px;
	height: 255px;
}